<app-navbar></app-navbar>
<div class="common_style">
    <!-- about section -->
    <section class="about_section"  *ngFor="let obj of home.about ">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img img src="../../../assets/images/about/{{obj.imagepath}}" alt="AboutUs Picture" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h1 style="text-align: center; font-family: 'Trebuchet MS', sans-serif;">
                {{obj.title}}
              </h1>
              <p>
                {{obj.information}}
              </p>
              
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<app-footer></app-footer>