<app-navbar></app-navbar>
<div class="common_style">
    <!-- about section -->
    <section class="about_section"  *ngFor="let obj of home.about ">
      <div class="container">
        <div class="row">
          <div class="col-md-6">
            <div class="about_img-container">
              <img src="../../../assets/images/{{obj.imagepath}}" alt="AboutUs Picture" >
            </div>
          </div>
          <div class="col-md-6">
            <div class="about_detail-box">
              <h3>
                {{obj.title}}
              </h3>
              <p>
                {{obj.information}}
              </p>
              <div class="">
                <a href="" class="call_to-btn btn_white-border">
                  Read More
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>

<app-footer></app-footer>