<app-nav></app-nav>
<div class="container-fluid page-body-wrapper">

<app-side></app-side>
<div class="content-wrapper">
    <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>Student Name</th>
              <th>Bus Number</th>
              <th>Date Of Attendance</th>
              <th>Status</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let obj of home.attendance">           
              <td>{{obj.sname}}</td>
              <td>{{obj.busnumber}}</td>
              <td>{{obj.dateofattendance | date }}</td>
              <td *ngIf="obj.attendancestatus==1" class="badge badge-info">{{obj.astatus}}</td>
              <td *ngIf="obj.attendancestatus==2" class="badge badge-danger">{{obj.astatus}}</td>
              <!-- <td><label class="badge badge-danger">Pending</label></td> -->
              <td>
                <button type="radio" class="btn btn-inverse-success" name="btnradio" id="btnradio1" (click)="precent(obj)">Present </button>
                
                <button type="radio" class="btn btn-inverse-danger" name="btnradio" id="btnradio2" (click)="absent(obj)">Absent</button>
               
              </td>
            </tr>
          </tbody>
        </table>
        <div class="row mt-5">
            <div class="col-3">
                <h1>Save the attendance :</h1>
            </div>
        <div class="col-3">
            <button type="button" (click)="saveAttendence()" class="btn btn-inverse-primary btn-fw">Submit the result</button>
        </div>
    </div>
         
      </div>



</div>
</div>

