<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/Parent/Parent">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Parent/editprofile">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Edit Profile</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/Parent/children">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Your children</span>
        </a>
      </li>

    </ul>
  </nav>


  