<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">


    <li class="nav-item">
        <a class="nav-link" routerLink="/Parent/children">
            <i class="fa-sharp fa-solid fa-children"></i>
          <span class="menu-title">Children</span>
        </a>
      </li>
  

  
      <li class="nav-item">
        <a class="nav-link" routerLink="/Parent/">
          <i class="fa-solid fa-user-pen"></i>
          <span class="menu-title">EditProfile</span>
        </a>
      </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/Parent/">
        <i class="fa-solid fa-map-location-dot"></i>
        <span class="menu-title"></span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/Parent/">
        <i class="fa-solid fa-clock"></i>
        <span class="menu-title">Attendance History</span>
      </a>
    </li>

  </ul>
</nav>