

<mat-dialog-content class="mat-typography">
  <form class="example-form" [formGroup]="createForm">

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label>full name</mat-label>
      <input type="text" matInput formControlName="fullname">
      <mat-error *ngIf="createForm.controls['fullname'].hasError('required')">
        fullname is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>
     

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> X-Location </mat-label>
      <input type="text" matInput formControlName="xhome">
      <mat-error *ngIf="createForm.controls['xhome'].hasError('required')">
        X-Location is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>

    <mat-form-field class="example-full-width" appearance="fill">
      <mat-label> Y-Location </mat-label>
      <input type="text" matInput formControlName="yhome">
      <mat-error *ngIf="createForm.controls['yhome'].hasError('required')">
        y-Location is <strong>required</strong>
      </mat-error>
    </mat-form-field>
    <br>


  <br><br>
    <label for="" class="my-1">Parent</label>
     <select class="form-control" (change)="DetectChangesParent($event)" >
        <option  selected disabled hidden  >Parent Name</option> 
        <option value="{{item.id}}" *ngFor="let item of home.parent" >{{item.fullname}}</option>
    </select>


    <br><br>
    <label for="" class="my-1">Bus Number</label>
     <select class="form-control" (change)="DetectChangesBus($event)" >
        <option  selected disabled hidden  >Bus Number</option> 
        <option value="{{item.id}}" *ngFor="let item of home.all" >{{item.busnumber}}</option>
    </select>

    <br><br>
    <label for="" class="my-1">Round</label>
     <select class="form-control" (change)="DetectChangesround($event)" >
        <option  selected disabled hidden  >Round</option> 
        <option value="{{item.id}}" *ngFor="let item of home.rounds" >{{item.roundstatus1}}</option>
    </select>



    <div class="form-group">
        <label for="exampleInputEmail1">Studint Picture</label>
        <input type="file" #file formControlName="image" (change)="uploadFile(file.files)" >
  </div>    

  
</form>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close class="btn btn-danger">Cancel</button>
  <button mat-button [mat-dialog-close]="true" cdkFocusInitial (click)="saveData()" class="btn btn-success"  >Save</button>
</mat-dialog-actions>


