<app-nav></app-nav>


<div class="container-fluid page-body-wrapper">
    <app-sid-driver></app-sid-driver>

    <div class="content-wrapper">
        <div class="row">
            <div class="col-lg-6" >
                <div class="my-google-map">
                    <div id="map" height="500px" width="100%" style="height: 400px; width: 100%;"></div>
                </div>
            </div>
            
            <div class="col-lg-5" style="margin-left: 20px;">
                <div id="directions-panel"></div>
                <div>
                    <button (click)="next()" class="btn btn-success">NEXT</button>
                </div>
            </div>
            </div>
            
        </div>


 

  

    </div>