
    <!-- partial:partials/_navbar.html -->
  
    <!-- partial -->
    
      <!-- partial:partials/_settings-panel.html -->
     
<app-navbar></app-navbar>
<div class="container-fluid page-body-wrapper">
<app-sidebar></app-sidebar>
<div class="content-wrapper" >
  
      <!-- //chart -->
      <div class="row">
        <div class="col-lg-5">
          <h2>charts</h2>
          <canvas id="myChart"></canvas>

        </div>
        <div class="col-lg-5" style=" height:400px;">
          <h2> pie charts</h2>
          <canvas id="pieChart"></canvas>

        </div>

      </div>
     
     
    
    </div>
</div>