<app-navbar></app-navbar>

<div class="top_container">
  <section class="hero_section ">
    <div class="hero-container container">
      <div class="hero_detail-box">
        <h1 style="font-size:30px;">
          {{this.home.Home[0].titel}}
        </h1>

        <br>
        <p style="font-size:25px;">
          {{this.home.Home[0].txt}}
        </p> <br> <br>
        <div class="hero_btn-continer">
          <button class="call_to-btn btn_white-border" routerLink="/aboutus">
            Read More
          </button>
        </div>
      </div>
      <div class="hero_img-container">
        <div>
          <!-- <img src="./assets/images/hero.png" alt="" class="img-fluid"> -->
          <img src="../../../assets/images/Home/{{this.home.Home[0].imagepath}}" alt="Home Picture">
        </div>
      </div>
    </div>
  </section>
</div>
<!-- end header section -->

<div class="common_style">

  <!-- about section -->
  <section class="about_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="about_img-container">
            <img img src="../../../assets/images/about/{{this.home.about[0].imagepath}}" alt="AboutUs Picture">
          </div>
        </div>
        <div class="col-md-6">
          <div class="about_detail-box">
            <h3 style="font-size:50px;">
              {{this.home.about[0].title}}
            </h3> <br><br>
            <p style="font-size:25px; font-family: 'Times New Roman', Times, serif; text-align: justify;">
              {{this.home.about[0].information}}
            </p>
            <br>

          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end about section -->

  <!-- admission section -->



  <!-- end admission section -->




  <!-- end why section -->

  <!-- determine section -->
  <section class="determine_section">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="determine_detail-box">
            <h3>
              Datermine the right for you
            </h3>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
              dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
              ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
            </p>

          </div>
        </div>
        <div class="col-md-6">
          <div class="determine_img-container">
            <img src="./assets/images/determine.png" alt="">
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- end determine section -->

</div>

<app-ctesti></app-ctesti>

<!-- end client section -->


<!-- contact section -->


<!-- end contact section -->

<section class="info_section layout_padding-top">
  <div class="info_logo-box">
    <h2 style="color: white;">
      Bus Tracking System
    </h2>
  </div>
  <div class="container layout_padding2">
    <div class="row">
      <div class="col-md-3">
        <h2 style="color: white;">
          ABOUT US
        </h2>
        <p style="color: goldenrod;">
          <!-- dolor sit amet, consectetur magna aliqua. Ut enim ad minim veniam, quisdotempor incididunt r  -->
          {{this.home.footer[0].abouttxt}}
        </p>
      </div>
      <div class="col-md-3">
        <h2 style="color: white;">
          Address
        </h2>
        <p style="color: goldenrod;">{{this.home.footer[0].address}}</p>
      </div>
      <div class="col-md-3">
        <h2 style="color: white;">
          Phone Number
        </h2>
        <p style="color: goldenrod;">
          {{this.home.footer[0].phonenumber}}
        </p>
      </div>
      <div class="col-md-3">

        <div class="subscribe_container">
          <h2 style="color: white;">
            Email
          </h2>
          <p style="color: goldenrod;">{{this.home.footer[0].email}}</p>
          <!-- <div class="form_container">
                <form action="">
                  <input type="email" placeholder="Enter your email">
                  <button type="submit">
                    Subscribe
                  </button>
                </form>
              </div> -->
        </div>

      </div>
    </div>
  </div>
  <div class="container">
    <div class="social_container">

      <div class="social-box">
        <a href="">
          <img src="./assets/images/fb.png" alt="">
        </a>

        <a href="">
          <img src="./assets/images/twitter.png" alt="">
        </a>
        <a href="">
          <img src="./assets/images/linkedin.png" alt="">
        </a>
        <a href="">
          <img src="./assets/images/instagram.png" alt="">
        </a>
      </div>
    </div>
  </div>
</section>


<section class="container-fluid footer_section">
  <p>
    Copyright &copy; 2019 All Rights Reserved By
    <a href="https://html.design/">Free Html Templates</a>
  </p>
</section>
<!-- footer section -->