
<section class="client_section layout_padding">
    <h2 class="">
      Testimonial
    </h2>
    <div class="container">
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
          <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="row">
              <div class="col-md-3">
                <div class="client_img-box">
                  <img img src="../../../assets/images/users/{{this.home.approvedtestimonial[0].imagepath}}"
                    style="width: 200px; height: 200px; border-radius:50%" alt=" testimonial ">
                </div>
              </div>
              <div class="col-md-9">
                <div class="client_detail-box">
                  <h5>
                    {{this.home.approvedtestimonial[0].name}}
                  </h5>
                  <p>
                    {{this.home.approvedtestimonial[0].feedback}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3">
                <div class="client_img-box">
                  <img img src="../../../assets/images/users/{{this.home.approvedtestimonial[1].imagepath}}"
                    style="width: 200px; height: 200px; border-radius:50%" alt=" testimonial ">
                </div>
              </div>
              <div class="col-md-9">
                <div class="client_detail-box">
                  <h5>
                    {{this.home.approvedtestimonial[1].name}}
                  </h5>
                  <p>
                    {{this.home.approvedtestimonial[1].feedback}}
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="row">
              <div class="col-md-3">
                <div class="client_img-box">
                  <img img src="../../../assets/images/users/{{this.home.approvedtestimonial[2].imagepath}}"
                    style="width: 200px; height: 200px; border-radius:50%" alt=" testimonial ">
                </div>
              </div>
              <div class="col-md-9">
                <div class="client_detail-box">
                  <h5>
                    {{this.home.approvedtestimonial[2].name}}
                  </h5>
                  <p>
                    {{this.home.approvedtestimonial[2].feedback}}
  
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  
  