


<nav class="sidebar sidebar-offcanvas" id="sidebar">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/dashboard">
        <i class="icon-grid menu-icon"></i>
        <span class="menu-title">Dashboard</span>
      </a>
    </li>

    <li class="nav-item">
      
      <a class="nav-link" routerLink="/admin/student">
        <i class="fa-solid fa-child"></i>
        <span class="menu-title">Manage Student</span>
      </a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/users">
        <i class="fa-solid fa-user"></i>
        <span class="menu-title">Users</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/role">
        <i class="fa-solid fa-people-group"></i>
        <span class="menu-title">Mange Role</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/bus">
        <i  class="fa-solid fa-bus" ></i>
        <span class="menu-title">Manage Bus</span>
      </a>
    </li>
   

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/routes">
        <i class="fa-solid fa-route"></i>
        <span class="menu-title">Mange Routes</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/Testimonial">
        <i class="fa-solid fa-comments"></i>
        <span class="menu-title">Mange Testimonial</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/school">
        <i class="fa-solid fa-school"></i>
        <span class="menu-title">Mange School</span>
      </a>
    </li>

    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/home_mange">
        <i class="fa-solid fa-house-user"></i>
        <span class="menu-title">Mange Home</span>
      </a>
    </li>
 
    
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/aboutus_mange">
        <i class="fa-solid fa-address-card"></i>
        <span class="menu-title">Mange About US</span>
      </a>
    </li>

    
    <li class="nav-item">
      <a class="nav-link" routerLink="/admin/contact">
        <i class="fa-sharp fa-solid fa-message-text"></i>
        <span class="menu-title">Mange Contact Us</span>
      </a>
    </li>
    
   
        <li class="nav-item">
      <a class="nav-link" routerLink="/admin/footer">
        <i class="fa-solid fa-file"></i>
        <span class="menu-title">Manage Footer</span>
      </a>
    </li>
   
  </ul>
</nav>
