<nav class="sidebar sidebar-offcanvas" id="sidebar">
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/driver/driver">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Home</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/driver/editprofile">
          <i class="icon-grid menu-icon"></i>
          <span class="menu-title">Edit Profile</span>
        </a>
      </li>
    </ul>
  </nav>